/* Общее */
*{
        font-family: Georgia;

    scroll-behavior: smooth;
    /*scrollbar-width: none;*/
    margin: 0 auto;
}

/* Свои цвета и переменные */
:root{
    /* Цвета */
    --footerGradientColor: linear-gradient(90deg, #513D2F, #1A1A1C);
    --color-light-xl: #FFFFFF;
    --color-light-l: #F6F6F6;
    --color-primary: #F1CDB3;
    --color-dark-l: #545454;
    --color-dark-m: #B2B2B2;

    /* Переменные */
    --maxHeight: calc(100vh - 110px);
}

/* Шрифты */
h3 {
    font-size: 35px;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 6%;
    color: var(--color-dark-l);
}

h4 {
    font-size: 20px;
    font-weight: 400;
    line-height: 115%;
    letter-spacing: 6%;
}

h5 {
    font-size: 15px;
    font-weight: 400;
    line-height: 110%;
    letter-spacing: 6%;
}

/*Сокрытие ненужных элементов*/
.hide {
    display: none;
    transition: 0.4s;
}

/* Голова */
header {}

/* Основное тело */
main {
    /* Блок Help*/
    .help{
        background: var(--color-light-xl);
        min-width: 1280px;
        max-width: 1280px;
        height: 611px;

        /* Контент блока Help */
        .help-content{
            margin-top: 80px;
            min-width: 1200px;
            max-width: 1200px;
            height: 431px;

            /* Заголовок */
            .help-content-head{
                width: 380px;
                height: 90px;
                text-align: center;
            }

            /* Поле со списком */
            .help-content-list{
                width: 1026px;
                height: 281px;
                margin-top: 60px;

                /* Список */
                .nav_list {
                    height: 100%;
                    margin: 0;
                    padding: 0;                    
                    list-style: none;
                    display: flex;
                    box-sizing: border-box;
                    text-align: center;
                    align-items: center;
                    justify-content: space-between;
                    flex-wrap: wrap;
                }

                /* Элемент списка */
                .nav_item {
                    width: calc(1026px/5);
                }
            }
        }
    }

    /* Блок Donation */
    .donation{        
        display: flex;
        background-color: var(--color-light-l);
        min-width: 1280px;
        max-width: 1280px;
        height: 462px;

        .donation-content{
            display: flex;
            width: 915px;
            height: 282px;
            margin-top: 80px;

            /* Тектовое поле блока Donation */
            .donation-content-text{
                width: 380px;
                height: 282px;

                /* Заголовок */
                .donation-content-text-head1{
                    margin: 0;
                    width: 300px;
                    height: 90px;
                }

                /* Подзаголовок */
                .donation-content-text-head2{
                    width: 308px; 
                    height: 17px;
                    margin: 0;
                    margin-top: 20px;
                }
                
                /* Блок карты */
                .donation-content-cart{
                    display: flex;
                    margin: 0;
                    margin-top: 20px;
                    width: 349px;
                    height: 43px;
                    border-radius: 9px;
                    background: var(--color-primary);
                    align-items: center;

                    /* Картинка с картой */
                    .donation-content-cart-img{
                        width: 30px;
                        height: 23px;
                        margin-inline: 15px;
                    }

                    /* Номер карты */
                    .donation-content-cart-text{
                       width: 100%;
                    }
                }

                /* Текст после номера карты */
                .donation-content-text-after-cart{
                    margin-top: 20px;
                    font-family: Arial, sans-serif;
                    color: var(--color-dark-m);
                    font-style: italic;
                    font-size: 12px;
                    line-height: 18px;
                }
            }
        }
    }
}

/* Футер\Низ */
footer {
    display: flex;
    height: 350px;
    max-width: 1280px;
    min-width: 1280px;
    background: url(img/footer-background.svg);
    background-image: var(--footerGradientColor);
    
    /* Исключитльный цвет для заголовка*/
    h3{
        color: var(--color-light-xl);
    }
    
    /* Блок контента футера */
    .footer-content{
        display: inline-flex;
        min-width: 1200px;
        max-width: 1200px;
        height: 310px;
        align-self: flex-end;
        color: var(--color-primary);

        /* Блок контактов в футере */
        .footer-contacts{
            min-width: 278px;
            max-width: 278px;
            height: 234px;
            margin-top: 16px;
            display: flex;
            flex-direction: column;

            .footer-contacts-title{
                width: 278px;
                height: 90px;
                h3{
                    font-size: 34.9px;
                }
            }

            .footer-contacts-mail {
                display: flex;
                height: 32px;
                width: 100%;
                margin-top: 40px;
            }
                        
            .footer-contacts-phone{
                display: flex;
                width: 100%;
                height: 32px;
                margin-top: 40px;
            }

            .footer-contacts-img{
                width: 40px;
                height: 32px;
            }

            .footer-contacts-text{
                width: 100%;
                height: 32px;
                margin-left: 20px;
                align-content: center;
            }
        }

        /* Блок с локацией */
        .footer-locations{
            display: flex;
            flex-direction: column;
            min-width: 302px;
            max-width: 302px;
            height: 234px;
            margin-top: 16px;
            
            /* Футер локация Бостон */
            .footer-locations-boston{
                height: 46px;
                margin-top: 34px;
                min-width: 302px;
                max-width: 302px;
                display: flex;
            }

            /* Футер локация Лондон */
            .footer-locations-london{
                height: 32px;
                margin-top: 32px;
                min-width: 302px;
                max-width: 302px;
                display: flex;
            }

            /* Картинка локации футера */
            .footer-locations-img{
                width: 22px;
                height: 32px;
            }

            /* Текст локации футера */
            .footer-locations-text{
                margin-left: 20px;
                align-content: center;
                height: 32px;
                width: 100%;
            }
        }
    }
}