/* Общее */
*{
    margin: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

/* Свои цвета */
:root{
    --MainColor: rgb(44, 50, 61);
}

/* Голова */
header {}

/* Основное тело */
main {
    /* Контейнер слайдера */
    .slider {
        width: 100vw;
        overflow: hidden;
    }

    /* Контейнер со слайдами */
    .slides {
        height: 300px;
        display: flex;
        width: 300%;
        transition: transform 0.5s ease-in-out; 
    }

    /* Слайд */
    .slide {
        border: 3px solid yellow;
        width: 100%;
    }

    .slide1{
        background-color: aqua;
        
    }
    .slide2{
        
        background-color: gray;
    }
    .slide3{
        
        background-color: brown;
    }

    /* Контроль размера картинки слайда */
    .imgSlide{
        /*height: 40%;
        width: 300px;*/
    }

    /* Скрытие радиокнопок */
    input[type="radio"] {
        display: none;
    }
 
    /* Переключение слайдов при выборе радиокнопки */
    #slide1:checked ~ .slides { transform: translateX(0%);}
    #slide2:checked ~ .slides { transform: translateX(calc(-100%/3));}
    #slide3:checked ~ .slides { transform: translateX(calc(-200%/3));}

    /* Контейнер для точек управления (индикаторов) */
    .controls {
        text-align: center; /* Размещаем точки по центру */
    }

    /* Стиль для точек переключения */
    .controls label {
        display: inline-block; /* Размещаем точки в строку */
        width: 20px; /* Размер точки */
        height: 20px;
        background: gray; /* Серый цвет точки */
        border-radius: 50%; /* Делаем точки круглыми */
        margin: 5px; /* Добавляем небольшой отступ между ними */
        cursor: pointer; /* Делаем курсор в виде руки при наведении */
    }

    /* Меняем цвет активной точки при выборе слайда */
    input:checked + label {
        background: black;
    }
}

/* Футер\Низ */
footer {
    display: flex;
    justify-content:space-between;
    width: 100vw - 6vw;
    height: 4rem;
    padding: 0 3vw;
    background-color: var(--MainColor);
    align-items: center;
    color: white;
    text-align: center;
    overflow-y: hidden;

    /* Шрифт года */
    p{
        font-size: 180%;
    }

    /* Картинка Гитхаба + текст */
    .svgText {
        color: white;
    }

    /* Картинка Гитхаба */
    .svgImg {
        stroke: white;
        fill: white;
    }
}